@font-face {
    font-family: 'jsMath-cmti10';
    src: url('Fonts/jsMath-cmti10.ttf');
}


.TopBanner{
    background-color:#BF6E8B;
    position:fixed;
    width: 1920vw;
    height: 125px;
}


body{
    background-color: #6F88A4;
    margin: 0;
}

#Name{
    margin-top: 25px;
    font-family: 'jsMath-cmti10';
    position: relative;
    text-align: left;
    font-weight: normal;
    font-size: 36px;
}

.Brand{
    position: fixed;
    left: 50px;
}

.Navigation{
    position:fixed;
    right: 45px;
    margin-top: 50px;
}

.nav_button{
    border-width: 0px;
    background-color: rgb(0,0,0,0);
    font-size: 30px;
    font-family: 'jsMath-cmti10';
    position: relative;
    padding-left: 10px;
    
}

#Home{
    right: 125px;
}
#Projects{
    right: 75px;
}
#About{
    right: 25px;
}


.divider{
    background-color: #C1C1C1;
    position: relative;
    width: 100vw;
    height: 5px;
    top: 120px;
}